
img{
    margin-top:30px ;
    margin-left: 14.8vw;
    transition:all 1.5s linear 0.5s
}

Button{
    width:8vw;
    height:9vh;
    font-size: 15px;
    transition:all 2s linear 0.5s;
    border-radius: 15px;
}

Button:hover{
    background-color: lightgreen;
    border-radius: 30px;
}

.rotate:hover ~ .image>img{
    transform: rotate(180deg);
}

.skew:hover ~ .image>img{
    transform: skew(180deg);
}

.scale:hover ~ .image>img{
    transform: scale(1.2);
}

.flip:hover ~ .image>img{
    transform:translatex(500px) rotatex(360deg);
}




