.header{
    display:flex;
    text-align: center;
    color:white;
    background:linear-gradient(to right bottom,rgba(111, 78, 55, 0.967),rgb(218, 160, 109));
    justify-content: space-between;
    
}
.navbar{
    display: flex;
    gap:18px;
    align-items: center;
    padding-right:20px;
}

    

.title{
    display: flex;
    align-content: center;
    height:63px;
    font-size: 28px;
    /* text-decoration: underline; */
    padding-top:26px;
    padding-left:20px;
}

a{
    text-decoration: none;
    font-size: 23px;
    color:rgb(255, 255, 255);
    
}   









.parent{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    gap:8px;
    margin-top:20px;
    background-color: white;
    

}

.child{
    border:2px solid black;
    width:400px;    
    box-shadow: 2px 2px 8px black;
    text-align: center ;
}

img{
    padding:24px;
}

.p1{
    font-size: 23px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   

.footer{
    text-align:center;
    color:white;
    background:linear-gradient(to right bottom,rgba(111, 78, 55, 0.967),rgb(218, 160, 109));
    height:63px;
    padding-top:20px;
    
}